<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.digitalia.fosdem"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- Permissions required for alarms -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="18" />

    <!-- Make touch screen optional since all screens can be used with a pad -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".FosdemApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultActivity" />
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.TrackScheduleActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.TrackScheduleEventActivity"
            android:label="@string/event_details" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:label="@string/event_details"
            android:parentActivityName=".activities.TrackScheduleActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PersonInfoActivity"
            android:theme="@style/AppTheme.TranslucentStatusBar" />
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/search_events"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/main_searchable" />
        </activity>
        <activity
            android:name=".activities.ExternalBookmarksActivity"
            android:label="@string/external_bookmarks_title"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/${applicationId}-bookmarks" />
            </intent-filter>
        </activity>
        <!-- Clearing the Task Affinity allows this dialog activity to be displayed without bringing to front the main application with it. -->
        <activity
            android:name=".activities.RoomImageDialogActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AlertDialogTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AlarmIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".providers.SearchSuggestionProvider"
            android:authorities="${applicationId}.search"
            android:exported="true" />
        <provider
            android:name=".providers.BookmarksExportProvider"
            android:authorities="${applicationId}.bookmarks"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>